.login {
  padding: 0.75rem 1rem 0;
}

.login h1{
   color:rgba(240,55,73,1);
}

@media (min-width: 768px) {
  .login {
      padding: 1.5rem 20% 0;
  }
}

@media (min-width: 992px) {
  .login {
      padding: 2.25rem 30% 0;
  }
}
