.card-wallet {
  font-size: 1rem;
  display: flex;
  width: 300px;
  flex-direction: column;
  padding: 1rem;
  margin: 0 0.3em 0.8rem;
  background: #f43d4c;
  border-radius: 2px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14);
  color: white
}
.card-wallet p{
  margin: 0;
}
  
  .card-wallet h3{
    font-weight: bold;
  }
  
  .card-wallet .wallet-tools {
    padding: 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  .card-wallet .word-break{
    word-break: break-all;
  }

  .card-wallet .btn{
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.8em;
  }