* {
  font-family: 'Roboto', sans-serif;
}

html, body{
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f1f2f7;
  color:#777;
}

#projeto, .app{
  height: 100%;
}